/*---- Load.css ----*/

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#wrapper {
  min-height: 50%;
  border: 1px solid #ff0000;
}

#pack {
  z-index: 1;
  position: absolute;
  padding-left: 30px;

  animation-duration: 3s;
  animation-name: move_pack;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  transition-timing-function: linear;
  transition-property: transform;
  transition-duration: 1s;
}

#shadow {
  margin-top: 50px;

  animation-duration: 3s;
  animation-name: stretch_shadow;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  transition-timing-function: linear;
  transition-property: width;
  transition-duration: 1s;
}

.content {
  width: 100%;
}

#dots {
  margin: 30px 0 0 60px;
  width: 40px;
  height: 40px;
}

#dots::after {
  width: 40%;
  height: 40%;
  content: "";
  display: block;
  border-radius: 50%;
  animation-duration: 3s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes move_pack {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
  }
}

@keyframes stretch_shadow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(0.4);
    filter: blur(10px);
  }
}

@keyframes loading {
  0%,
  100% {
    background-color: #2b2e83;
    box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc;
  }
  33% {
    background-color: #ccc;
    box-shadow: 30px 0 0 #2b2e83, 60px 0 0 #ccc;
  }
  66% {
    background-color: #ccc;
    box-shadow: 30px 0 0 #ccc, 60px 0 0 #2b2e83;
  }
}
